@import '../../../sass/variables';

.tags {
  align-self: center;

  ul {
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: $mp-m;
      margin-bottom: $mp-l;
      padding: $mp-sm $mp-m;
      font-size: $font-xs;
      text-transform: capitalize;
      background-color: $color-grey-extra-light;
      border-radius: $mp-xl;
      cursor: pointer;

      &:hover {
        color: $color-white;
        background-color: $color-deep-blue;
      }
    }
  }
}

.rtl .tags ul li {
  margin-right: 0;
  margin-left: $mp-m;
}
