div[data-is="banner"] .container-page {
  background-color: #e11e1d;
  color: #fff;
  padding: 0.6rem;
  position: relative;
}
div[data-is="banner"] .container-page .close-button {
  fill: #fff;
  stroke: #fff;
  padding: 0;
  position: absolute;
  right: 9px;
  top: 9px;
}
div[data-is="banner"] .container-page p.content {
  margin: 0 25px 0 0;
}
div[data-is="banner"] .container-page p.content .banner-icon {
  fill: #fff;
  display: inline-block;
  vertical-align: text-bottom;
}
div[data-is="banner"] .container-page p.content .title {
  margin-left: 0.4rem;
}
div[data-is="banner"] .container-page p.content .see-more,
div[data-is="banner"] .container-page p.content .see-more-separator {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 700;
}
div[data-is="banner"] .container-page p.content .see-more:hover {
  text-decoration: underline;
}
.rtl div[data-is="banner"] .container-page .close-button {
  left: 9px;
  right: auto;
}
.rtl div[data-is="banner"] .container-page p.content {
  margin: 0 0 0 25px;
}
.rtl div[data-is="banner"] .container-page p.content .title {
  margin: 0 0.4rem 0 0;
}
#homepage .taboola-ads {
  min-height: 325px;
}
@media (max-width: 600px) {
  #homepage .taboola-ads {
    min-height: 765px;
  }
}
#homepage section .aside-ads,
#homepage section .featured-category-ads {
  margin: 0 auto;
}
#homepage section .featured-category-ads {
  min-height: 620px;
}
@media (max-width: 600px) {
  #homepage section .featured-category-ads {
    min-height: 741px;
  }
}
#homepage section.top-articles {
  margin: 0;
  padding: 0;
}
@media (min-width: 840px) {
  #homepage section.top-articles .main-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #homepage section.top-articles .aside-column {
    display: flex;
    flex-direction: column;
    height: 1550px;
  }
  #homepage section.top-articles .aside-column [data-is="newsfeed"] {
    display: flex;
    flex: 1 1;
    flex-flow: column;
    overflow: hidden;
  }
  #homepage
    section.top-articles
    .aside-column
    [data-is="newsfeed"]
    [data-is="aside-newsfeed"] {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #homepage
    section.top-articles
    .aside-column
    [data-is="newsfeed"]
    [data-is="aside-newsfeed"]
    .timeline {
    display: flex;
    flex: 1 1;
    flex-flow: column;
    overflow: hidden;
    position: relative;
  }
}
@media (min-width: 840px) and (min-width: 840px) {
  #homepage
    section.top-articles
    .aside-column
    [data-is="newsfeed"]
    [data-is="aside-newsfeed"]
    .timeline:after {
    background-image: linear-gradient(
      180deg,
      #fff0,
      #fff3 50%,
      #ffffff4d 60%,
      #fff6 70%,
      #ffffff80 80%,
      #ffffff80 90%,
      #fff9 94%,
      #ffffffa6 96%,
      #ffffffb3 98%
    );
    bottom: 0;
    content: "";
    height: 100px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}
@media (max-width: 840px) {
  #homepage
    section.top-articles
    [data-is="aside-newsfeed"]
    .timeline
    > :nth-child(n + 11) {
    display: none;
  }
}
#homepage section.top-articles [data-is="newsfeed"] {
  box-shadow: 0 0 5px 0 #00000040;
  margin-bottom: 1rem;
}
@media (max-width: 840px) {
  #homepage section.top-articles [data-is="newsfeed"] {
    box-shadow: none;
  }
  #homepage
    section.top-articles
    [data-is="newsfeed"]
    [data-is="aside-newsfeed"] {
    margin-top: 2rem;
    padding: 0;
  }
}
#homepage section.latest-videos {
  box-shadow: none;
  margin: 0;
  padding: 0 0 0.6rem;
}
#homepage section.latest-videos .wrapper {
  background-color: #07244b;
  margin: auto;
  max-width: 1210px;
  padding: 1rem 0 1.3rem;
}
@media (min-width: 1210px) {
  #homepage section.latest-videos .wrapper {
    padding: 1rem 100px 1.3rem;
  }
}
@media (max-width: 600px) {
  #homepage section.latest-videos .wrapper {
    padding: 1.3rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  #homepage section.latest-videos .container-page {
    padding: 0;
  }
}
#homepage section.column-ads {
  margin: 0;
}
#homepage section.featured-categories {
  box-shadow: none;
  margin-top: 0;
  padding: 1.3rem 0;
}
@media (max-width: 960px) {
  #homepage section.special {
    padding: 0;
  }
}
.widget-typography-heading {
  all: revert;
  color: #07244b;
  display: flex;
  font-weight: 500;
  gap: 8px;
  line-height: 1.2;
  margin-bottom: 1.4em;
  margin-top: 0;
  position: relative;
}
.widget-typography-heading.color-light {
  color: #fff;
}
.widget-typography-heading:after {
  --border-width: 3px;
  border: 0;
  border-top: var(--border-width) solid #e11e1d;
  bottom: calc((var(--border-width) + 4px) * -1);
  content: "";
  margin: 0;
  position: absolute;
  width: 32px;
}
.widget-typography-heading .widget-typography-heading-separator {
  align-self: flex-end;
  font-size: 1.6em;
  line-height: 0.65em;
}
.widget-typography-heading .widget-typography-heading-subtitle {
  align-self: end;
  font-size: 0.8em;
}
h1.widget-typography-heading {
  font-size: 1.6rem;
}
h1.widget-typography-heading.size-large {
  font-size: 1.8rem;
}
h1.widget-typography-heading.size-small {
  font-size: 1.4rem;
}
h2.widget-typography-heading {
  font-size: 1.4rem;
  font-weight: 600;
}
h2.widget-typography-heading.size-large {
  font-size: 1.6rem;
}
h2.widget-typography-heading.size-small {
  font-size: 1.2rem;
}
.article-list-horizontal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.article-list-horizontal .article-list-horizontal-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}
.article-list-horizontal .article-list-horizontal-wrapper .cover-wrapper {
  align-self: center;
}
.article-list-horizontal > a:focus-visible .article-reading-time-wrapper {
  opacity: 1;
}
@media (min-width: 600px) {
  .article-list-horizontal .article-list-horizontal-wrapper .cover-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
  }
}
.widget-layout-divider {
  background-color: #dadbdf;
  border: none;
  height: 1px;
  margin: 16px 0;
}
.widget-layout-divider.thin {
  margin: 8px 0;
}
@media (min-width: 600px) {
  .widget-layout-divider {
    background-color: none;
    height: 0;
    margin: 0 0 32px;
  }
  .widget-layout-divider.thin {
    margin: 16px 0;
  }
}
.article-information-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  justify-content: space-between;
}
.article-information-wrapper .article-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.article-information-wrapper .article-information .article-category {
  display: flex;
}
.article-information-wrapper .article-information .article-excerpt {
  color: #454d5d;
}
.article-information-wrapper .article-bottom {
  fill: #4b4b4b;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 8px;
  line-height: 0.8rem;
}
.article-information-wrapper .article-bottom .article-actions {
  align-items: flex-end;
  display: flex;
  gap: 8px;
}
.article-information-wrapper .article-bottom .signature-name {
  color: #4b4b4b;
  font-size: 0.8rem;
  font-weight: 700;
}
.article-information-wrapper .article-bottom .date-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.article-information-wrapper .article-bottom .date-wrapper .mobile-date {
  display: none;
}
.article-information-wrapper .sr-only {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.article-information-wrapper.size-small .article-information .article-excerpt {
  display: none;
}
.article-information-wrapper.placeholder {
  background-color: #ecedef;
  height: 162px;
}
.article-information-wrapper.placeholder.size-small {
  height: 115px;
}
@media (max-width: 600px) {
  .article-information-wrapper .article-information .article-excerpt,
  .article-information-wrapper.variant-author-full-date
    .article-bottom
    .date-wrapper
    .date {
    display: none;
  }
  .article-information-wrapper.variant-author-full-date
    .article-bottom
    .date-wrapper
    .mobile-date {
    display: block;
  }
  .article-information-wrapper.variant-author-full-date
    .article-bottom
    .signature-name {
    display: none;
  }
  .article-information-wrapper.placeholder,
  .article-information-wrapper.placeholder.size-small {
    height: 108px;
  }
}
.widget-typography-tag {
  font-size: 0.7rem;
  line-height: 0.7rem;
}
@media (min-width: 600px) {
  .widget-typography-tag {
    background-color: #e11e1d;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    height: 1rem;
    line-height: 0.9rem;
    padding: 2px 4px;
    text-transform: uppercase;
  }
  .widget-typography-tag.sponsored {
    background-color: #454d5d;
  }
}
@media (max-width: 600px) {
  .widget-typography-tag {
    color: #07244b;
  }
}
.widget-typography-title {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #07244b;
  display: -webkit-box;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
}
@media (max-width: 600px) {
  .widget-typography-title {
    font-size: 0.9rem;
  }
}
.widget-typography-title.size-small {
  font-size: 0.9rem;
}
@media (max-width: 600px) {
  .widget-typography-title.size-small {
    font-size: 0.8rem;
  }
}
.widget-typography-title.size-large {
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .widget-typography-title.size-large {
    font-size: 1rem;
  }
}
.widget-typography-title.size-extra-large {
  font-size: 1.4rem;
}
@media (max-width: 600px) {
  .widget-typography-title.size-extra-large {
    font-size: 1.2rem;
  }
}
.widget-temporal-relative-time-with-icon {
  align-items: center;
  color: #4b4b4b;
  display: flex;
  gap: 8px;
}
.widget-temporal-relative-time-with-icon svg {
  fill: #4b4b4b;
}
.BookmarkButton_active__jManF {
  fill: #e11e1d;
}
.ShareButton_wrapper__\+ZBLo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.ShareButton_toggle__tKRBK {
  fill: #72767e;
}
.ShareButton_open__MZ0eB .ShareButton_toggle__tKRBK {
  fill: #e11e1d;
}
.ShareButton_menu__JDImU {
  background-color: #fff;
  border-radius: 999em;
  bottom: 32px;
  box-shadow: 0 0 5px 0 #00000040;
  padding: 8px;
  position: absolute;
  z-index: 100;
}
.ltr .ShareButton_menu__JDImU {
  right: -9px;
}
.rtl .ShareButton_menu__JDImU {
  left: -9px;
}
.ShareButton_list__enLoj {
  all: revert;
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ShareButton_list__enLoj > li {
  all: revert;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}
.ShareButton_button-wrapper__c0pgV {
  fill: #72767e;
}
@media (prefers-reduced-motion: no-preference) {
  .ShareButton_button-wrapper__c0pgV {
    transition: color 0.2s ease-in-out;
  }
}
.ShareButton_button-wrapper__c0pgV:hover {
  fill: #e11e1d;
}
.ShareButton_triangle-with-shadow__8X8wB {
  box-shadow: 0 0 4px -16px #00000040;
  height: 16px;
  overflow: hidden;
  position: absolute;
  top: 39px;
  transform: rotate(180deg);
  width: 16px;
}
.ltr .ShareButton_triangle-with-shadow__8X8wB {
  right: 16px;
}
.rtl .ShareButton_triangle-with-shadow__8X8wB {
  left: 16px;
}
.ShareButton_triangle-with-shadow__8X8wB:after {
  background: #fff;
  box-shadow: 0 0 4px 0 #00000040;
  content: "";
  height: 8px;
  position: absolute;
  top: 12px;
  transform: rotate(45deg);
  width: 8px;
}
.ltr .ShareButton_triangle-with-shadow__8X8wB:after {
  left: 1px;
}
.rtl .ShareButton_triangle-with-shadow__8X8wB:after {
  right: 1px;
}
.SocialNetworks_button__RxwaE > button {
  fill: inherit;
  all: revert;
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  line-height: normal;
  min-height: 24px;
  min-width: 24px;
  padding: 0;
  text-transform: inherit;
}
.SocialNetworks_button__RxwaE > button:focus-visible {
  border: 1px solid #fff;
  outline: 3px dashed #516681;
  outline-offset: 2px;
}
.widget-typography-text {
  font-size: 0.9rem;
  margin: 0;
}
.widget-typography-text.size-small {
  font-size: 0.8rem;
}
.widget-typography-text.size-extra-small {
  font-size: 0.7rem;
}
.article-cover-wrapper {
  position: relative;
}
.article-cover-wrapper .article-reading-time-wrapper {
  display: block;
  opacity: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: opacity 0.2s ease-out;
}
.article-cover-wrapper:hover .article-reading-time-wrapper {
  opacity: 1;
}
@media (max-width: 600px) {
  .article-cover-wrapper .article-reading-time-wrapper {
    display: none;
  }
  .article-cover-wrapper:not(.size-large) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 144px;
  }
}
.rtl .article-cover-wrapper .article-reading-time-wrapper {
  left: 8px;
  right: auto;
}
.widget-layout-media-container {
  background-color: #ecedef;
  display: block;
  height: 0;
  position: relative;
  width: 100%;
}
@media (max-width: 600px) {
  .widget-layout-media-container {
    padding-top: 75%;
  }
}
@media (min-width: 600px) {
  .widget-layout-media-container {
    padding-top: 62.5%;
  }
}
@media (max-width: 600px) {
  .widget-layout-media-container.squared {
    padding-top: 75%;
  }
}
@media (min-width: 600px) {
  .widget-layout-media-container.squared {
    padding-top: 90%;
  }
}
.widget-layout-media-container img,
.widget-layout-media-container video {
  align-self: center;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.widget-reading-time {
  align-items: center;
  background-color: #72767e;
  border-radius: 4px;
  color: #fff;
  display: flex;
  gap: 2px;
  padding: 2px 4px;
}
.widget-reading-time svg {
  fill: #fff;
}
div.lazyImageContainer img[data-is="lazy-image"] {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 0;
}
div.lazyImageContainer img[data-is="lazy-image"].visible {
  opacity: 1;
}
.article-list-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.article-list-vertical .article-list-vertical-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}
.article-list-vertical > a:focus-visible .article-reading-time-wrapper {
  opacity: 1;
}
@media (max-width: 600px) {
  .article-list-vertical:not(.size-large) .article-list-vertical-wrapper {
    flex-direction: row;
  }
  .article-list-vertical.size-large
    .article-list-vertical-wrapper
    .cover-wrapper {
    left: -1rem;
    position: relative;
    right: -1rem;
    width: calc(100% + 2rem);
  }
}
.ArticlesWidgets_wrapper__iyZjv {
  margin: 16px 0;
}
.ArticlesWidgets_custom-wrapper__S77gw {
  left: -1rem;
  padding: 1rem 1rem 0;
  position: relative;
  right: -1rem;
  width: calc(100% + 2rem);
}
@media (width > 840px) {
  .ArticlesWidgets_custom-wrapper__S77gw {
    left: -0.4rem;
    padding: 0.4rem 0.4rem 0;
    right: -0.4rem;
    width: calc(100% + 0.8rem);
  }
}
[data-is="aside-newsfeed"] {
  padding: 1rem;
}
[data-is="aside-newsfeed"] .more {
  background-color: #fff;
  border: 2px solid #07244b;
  color: #07244b;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  height: 34px;
  line-height: 1.8em;
  margin-top: 1.3rem;
  text-align: center;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  width: 100%;
}
[data-is="aside-newsfeed"] .more:hover {
  background-color: #07244b;
  color: #fff;
}
.news-of-day {
  color: #4b4b4b;
  font-weight: 700;
  margin-bottom: 0.6rem;
  margin-top: 1.3rem;
}
.news-of-day:first-of-type {
  margin-top: 0;
}
.piece-of-news .news-hour {
  color: #4b4b4b;
  font-size: 0.65em;
  font-weight: 700;
  padding-left: 0.6rem;
  position: relative;
}
.piece-of-news .news-hour .breaking {
  fill: #e11e1d;
  color: #e11e1d;
}
.piece-of-news .news-hour .breaking .breaking-icon {
  display: inline-block;
  margin: 0 0.2rem;
  vertical-align: text-bottom;
}
.piece-of-news .news-content {
  border-left: 1px dashed #72767e;
  font-size: 0.9em;
  margin-left: 2px;
  padding: 0.2rem 0.6rem 1rem;
}
.piece-of-news .news-content p {
  margin: 0;
}
.piece-of-news .news-content img {
  margin: 0.6rem 0;
  max-width: 400px;
  width: 100%;
}
.piece-of-news .news-content .more-information {
  color: #07244b;
  display: block;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 700;
}
.piece-of-news .news-content .news-content-link:hover p {
  color: #e11e1d;
}
.piece-of-news .news-content .news-content-link:hover .more-information {
  text-decoration: underline;
}
.rtl .piece-of-news .news-hour {
  padding: 0 0.6rem 0 0;
}
.rtl .piece-of-news .news-content {
  border-left: none;
  border-right: 1px dashed #72767e;
  margin-left: 0;
  margin-right: 2px;
  padding: 0.2rem 0.6rem 0.6rem 0;
}
.loader-wrapper {
  margin: 0;
  position: relative;
  width: 100%;
}
.loader-wrapper .loader-overlay {
  animation: blink 1.5s ease infinite;
  background-color: #aaa3;
  height: 100%;
  position: absolute;
  width: 100%;
}
.loader-wrapper.inverse .loader-overlay {
  background-color: #8c8c8c33;
}
[data-is="fullpage-newsfeed"] .ads-horizontal {
  margin: 0 auto 2rem;
}
.EmptyList_empty__Xgozg {
  color: #4b4b4b;
  text-align: center;
}
.sticky-ads {
  margin: 0 auto;
}
.sticky-ads .ads-main-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: -webkit-sticky;
  position: sticky;
  top: calc(116px + 1rem);
}
@media (min-width: 600px) {
  .ads-main-container .taboola-wrapper {
    margin: auto;
    max-width: 300px;
  }
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
[data-is="special-banner"] {
  background-color: #f6f6f6;
  display: block;
  height: 0;
  padding-top: 12.1212121212%;
  position: relative;
  transition: opacity 0.2s ease-out;
  width: 100%;
}
[data-is="special-banner"]:hover {
  opacity: 0.8;
}
[data-is="special-banner"] .special-banner-wrapper {
  inset: 0;
  position: absolute;
}
[data-is="special-banner"] .special-banner-wrapper img {
  align-self: center;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
[data-is="special-banner-ads"],
[data-is="special-banner-placeholder"] {
  min-height: 90px;
}
@media (max-width: 600px) {
  [data-is="special-banner-ads"],
  [data-is="special-banner-placeholder"] {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
  }
}
.headlines {
  --gap: 16px;
}
@media (min-width: 600px) {
  .headlines .headline-articles {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
  }
  .headlines .headline-articles .headline-article-hero {
    flex-basis: 0;
    flex-grow: 1;
  }
  .headlines .headline-articles .headline-article-hero .information-wrapper {
    padding: 16px;
  }
  .headlines .headline-articles .headline-side-articles {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 16px;
  }
  .headlines .headline-articles .headline-side-articles .headline-side-article {
    flex-basis: calc(50% - var(--gap) / 2);
    flex-grow: 1;
  }
  .headlines
    .headline-articles
    .headline-side-articles
    .headline-side-article:nth-child(-n + 2)
    .widget-layout-divider {
    margin-bottom: 8px;
  }
}
.article-list-hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.article-list-hero .article-list-hero-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.article-list-hero .article-list-hero-wrapper .information-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 32px;
}
.article-list-hero.placeholder
  .article-list-hero-wrapper
  .information-wrapper
  > * {
  height: 100%;
}
@media (min-width: 600px) {
  .article-list-hero .article-list-hero-wrapper .information-wrapper {
    border: 1px solid #9ca7b7;
    border-top: none;
  }
  .article-list-hero
    .article-list-hero-wrapper
    .information-wrapper
    .article-information {
    flex-grow: 1;
    justify-content: space-evenly;
  }
}
@media (max-width: 600px) {
  .article-list-hero {
    width: 100%;
  }
  .article-list-hero .article-list-hero-wrapper {
    position: relative;
  }
  .article-list-hero .article-list-hero-wrapper .cover-wrapper {
    left: -1rem;
    position: relative;
    right: -1rem;
    width: calc(100% + 2rem);
  }
  .article-list-hero .article-list-hero-wrapper .information-background {
    background: linear-gradient(180deg, #020b1700 30%, #020b17);
    inset: 50% -1rem 0;
    position: absolute;
  }
  .article-list-hero .article-list-hero-wrapper .information-wrapper {
    bottom: 0;
    color: #fff;
    left: -1rem;
    padding: 0 1rem 8px;
    position: absolute;
    right: -1rem;
    width: calc(100% + 2rem);
  }
  .article-list-hero .article-list-hero-wrapper .information-wrapper * {
    color: #fff !important;
  }
  .article-list-hero .article-list-hero-wrapper .information-wrapper svg {
    fill: #fff !important;
  }
  .article-list-hero
    .article-list-hero-wrapper
    .information-wrapper
    .share-buttons
    svg {
    fill: #72767e !important;
  }
}
.homepage-top-articles {
  margin-top: 8px;
}
.homepage-section-header {
  display: flex;
  justify-content: space-between;
}
.homepage-section-header.placeholder {
  background-color: #ecedef;
  height: 3.64rem;
}
.sticky-bottom {
  bottom: 0;
  direction: ltr;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 30;
}
.sticky-bottom .sticky-bottom-content {
  margin-left: auto;
  padding-bottom: 0.6rem;
}
.sticky-bottom .sticky-bottom-content .video-wrapper-pip {
  bottom: 0;
  pointer-events: all;
  position: relative;
}
.sticky-bottom .sticky-bottom-content .video-wrapper-pip .video-js {
  height: 207px;
  width: 360px;
}
.sticky-bottom .sticky-bottom-content .loader-container {
  align-items: center;
  display: flex;
  height: 207px;
  justify-content: center;
  width: 360px;
}
@media (max-width: 960px) {
  .sticky-bottom {
    bottom: 65px;
  }
}
@media (max-width: 840px) {
  .sticky-bottom {
    bottom: 53px;
  }
}
/*# sourceMappingURL=371.ad36457b.chunk.css.map*/
